*{margin: 0;
padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(52, 29, 79, 0.796)
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
  padding:2rem;
  padding-top: 1rem;
  border-radius: 5rem;
  width: 30rem;

}
.container h2{
    font-size: 2.4rem;
}

.selectcontainer{
 display: flex;
 justify-content: center;
 align-items: center;
gap: 82px;

}
 
form{
    padding-top: 1.5rem;
}
.select img{
    
    max-width: 1.75rem;
}
 
.drop {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}
.drop select{
cursor: pointer;
}

.drop select{
    padding-left: 0.7em;
}
.mesg p{
    display: flex;
     font-size: 1.1rem;
      padding-left:7.8rem;
     padding-top:1.2rem;
}
.Exchange{
     padding-top: 0.7rem;
     display: flex;
    justify-content: space-between;
    align-items: center;
}
.entery input{
    border: 2.1px solid black;
    border-radius: 0.5rem;
    border-color: rgba(255, 54, 248, 0.641);
    }

    .drop select{
         border: 2.1px solid black;
    border-radius: 0.5rem;
    border-color: rgba(255, 54, 248, 0.641);
    }
      
.output input{
    border: 2.1px solid black;
    border-radius: 0.5rem;
    border-color: rgba(255, 54, 248, 0.641);
    }
   
.btn button{
    margin-top: 1.2rem;
    margin-left: 8.7rem;
     border: 2.1px solid black;
    border-radius: 1.5rem;
    border-color: rgba(255, 54, 57, 0.641);
    padding: 0.5rem;
    transition: all 0.3s ease-in;
    
}
.btn button:hover {
     
 cursor: pointer;
transform: scale(1.1);
 box-shadow: 0 0 7px brown;

}
.entery input,.output input{
    padding-left: 0.6rem;
}
body {
    min-height: 100vh; 
    display: flex;
}
.fa-arrow-right-arrow-left {
    font-size: 1.4rem;       
     
    cursor: pointer;
    transition: transform 0.3s ease;
    padding-top: 1.1rem;
}

/* responsive */
@media (max-width: 555px){
    .container{
        width:25rem;
    }
    .btn button{
    margin-top: 1.1rem;
 margin-left: 8.8rem;
     border: 2.1px solid black;
    border-radius: 1.5rem;
    border-color: rgba(255, 54, 57, 0.641);
    padding: 0.5rem;
    transition: all 0.3s ease-in;
    
}

}
@media (max-width: 455px){
    .container{
        width:15rem;
    }
    .container h2{
    font-size: 1.4rem;
}
.selectcontainer{
 display: flex;
 justify-content: center;
 align-items: center;
gap: 22px;

}
 
form{
    padding-top: 1.1rem;
}
.select img{
    
    max-width: 1.45rem;
}
 
.drop {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}
.drop select{
cursor: pointer;
}

.drop select{
    padding-left: 0.7em;
}
.mesg p{
    display: flex;
     font-size:1.1rem;
      padding-left:4.2rem;
}
.Exchange{
     padding-top: 0.7rem;
     display: flex;
    align-items: center;
    gap: 17px;
}
.entery input{
    border: 2.1px solid black;
    border-radius: 0.5rem;
    max-width: 6rem;
    border-color: rgba(255, 54, 248, 0.641);
    }
      
.output input{
    border: 2.1px solid black;
    border-radius: 0.5rem;
     max-width: 6rem;
    border-color: rgba(255, 54, 248, 0.641);
    }
.btn button{
    margin-top: 1.1rem;
    margin-left: 5.7rem;
     border: 2.1px solid black;
    border-radius: 1.5rem;
    border-color: rgba(255, 54, 57, 0.641);
    padding: 0.5rem;
    transition: all 0.3s ease-in;
    
}
.btn button:hover {
     
 cursor: pointer;
transform: scale(1.1);
 box-shadow: 0 0 7px brown;

}
 
 
.fa-arrow-right-arrow-left {
    font-size: 1.1rem;       
     
    cursor: pointer;
    transition: transform 0.3s ease;
    padding-top: 1.1rem;
}

}

